<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="..\..\..\..\..\..\Program Files\dotnet\dotnet.exe" arguments="&quot;H:\Users\RexKardia\.nuget\packages\uno.wasm.bootstrap.devserver\1.3.4\build\../tools/server/dotnet-unowasm.dll&quot; serve   --pathbase &quot;H:\Users\RexKardia\source\repos\Uno_ws\Uno_ws.Wasm\bin\Debug\net5\dist&quot; --configuration Debug --targetframework net5 " stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>